.darionco_table_view_container {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.darionco_table_view_header_container {
    min-width: 100%;
}

.darionco_table_view_header {
    width: 100%;
    height: 20px;
}

.darionco_table_view_scrollable {
    min-width: 100%;
    width: fit-content;
    flex: 1 1;
    overflow: scroll;
}

.darionco_table_view_content {
    min-width: 100%;
}

.darionco_table_view_row_container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.darionco_table_view_row {
    min-width: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #dddddd;
}

.darionco_table_view_cell {
    padding: 0 4px;
    color: #666666;
    font-family: monospace;
    flex-grow: 1;
    flex-shrink: 0;
    border-right: solid 1px #dddddd;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: none;
}
